/* Base Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #14151a;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: middle;
}

/* Global Styles */
#load {
  text-align: center;
  padding: 20px;
}

#load img {
  width: 5%;
  min-width: 40px;
}

header,
footer {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  text-align: center;
}

footer a {
  color: white;
  font-size: 11px;
  font-weight: 500;
}

@media (min-width: 400px) {
  footer a {
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  footer a {
    font-size: 15px;
  }
}

/* Custom Styles */
.poster {
  text-align: center;
  display: inline-block;
  padding: 20px;
  overflow: visible;
  margin-top: 20px;
}

section img {
  max-width: 200px;
  border-radius: 5px;
  border: 5px solid white;
}

@media (min-width: 600px) {
  .poster {
    width: 250px;
  }

  section img {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .poster {
    width: 300px;
  }

  section img {
    max-width: 100%;
    height: 100%;
  }
}

#head-div {
  background: linear-gradient(to right, #eb3349 40%, #f45c43);
  text-align: center;
  height: 86px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: x-large;
  color: white;
}

i {
  margin-right: 10px;
}

h2 {
  color: #ed3832;
  font-weight: 500;
  width: 100%;
  font-size: 20px;
  margin: 10px;
}

#latest {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#latest2 a {
  color: white;
  text-decoration: none;
}

.la-anime {
  display: inline-block;
  padding: 0 3px 6px;
  position: relative;
  width: calc(50% - 20px);
  max-width: 200px;
}

.shadow {
  box-shadow: inset 0 -100px 50px -50px rgba(32, 33, 37, 1);
  position: relative;
  height: 200px;
  z-index: 1;
}

#shadow1 {
  box-shadow: inset 0 -100px 50px -50px rgba(32, 33, 37, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#shadow2 {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.shadow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: unset;
  z-index: 1;
}

.dubb {
  color: white;
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  width: fit-content;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 4px;
  z-index: 5;
}

.la-details {
  background-color: rgb(32, 33, 37);
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.la-details h3 {
  margin: 0;
  font-size: 14px;
  text-align: left;
  width: 100%;
  color: white;
  font-weight: 500;
  margin-bottom: 8px;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  list-style: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#extra {
  text-align: left;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  list-style: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.la-details span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

#title1 {
  width: 70%;
  height: 86px;
  text-align: center;
}

#search-div {
  height: 40px;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 25px;
  right: 10px;
  display: flex;
  align-items: center;
}

#search-div input {
  height: 28px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  overflow: visible;
  width: calc(100% - 40px);
}

#search-div button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-div button i {
  width: 16px;
  height: 16px;
  margin: 0;
}

#search-div form {
  height: 100%;
  width: 100%;
}

#query {
  width: 200px;
  height: 40px;
}

#query:focus {
  border: none;
}

/* Media Queries */
@media (min-width: 420px) {
  .shadow {
    height: 240px;
  }
}

@media (min-width: 580px) {
  #search-div input {
    width: calc(100% - 55px);
  }

  .la-anime {
    max-width: 220px;
  }

  #title1 {
    width: 100%;
    text-align: center;
  }

  #search-div {
    height: fit-content;
    background-color: white;
    margin-right: 20px;
    border-radius: 5px;
  }

  #search-div input {
    height: 28px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    overflow: visible;
    width: calc(100% - 55px);
  }

  #search-div button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: 40px;
    width: 40px;
  }

  #search-div button i {
    width: 16px;
    height: 16px;
    margin: 0;
  }

  #search-div form {
    height: 100%;
    width: 100%;
  }

  #query {
    width: 200px;
    height: 40px;
  }

  #query:focus {
    border: none;
  }
}

@media (min-width: 1200px) {
  .la-anime {
    max-width: 220px;
  }

  #title1 {
    width: 100%;
    text-align: center;
  }

  #search-div {
    position: absolute;
    right: 0;
    top: 25px;
  }
}

/* Font Faces */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
      U+FE2E-FE2F;
}

@font-face {
  font-family
